<configuration>
    <springProperty scope="context" name="lokiUrl"
                    source="logging.loki.url"
                    defaultValue="http://loki:3100/loki/api/v1/push"/>
    <springProperty scope="context" name="appName"
                    source="spring.application.name" defaultValue="user-service"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>ts=%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} level=%-5level service=${appName} correlationId=%X{correlationId:-} userId=%X{userId:-} routingKey=%X{routingKey:-} thread=%thread logger=%logger{36} msg="%replace(%msg){'&quot;','\\&quot;'}"%n</pattern>
        </encoder>
    </appender>
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiUrl}</url>
        </http>
        <labels>
            app=talabat
            service=${appName}
            level=%level
            env=docker
        </labels>
        <structuredMetadata>off</structuredMetadata>
        <message class="ch.qos.logback.classic.PatternLayout">
            <pattern>{"timestamp":"%d{ISO8601}","level":"%level","service":"${appName}","thread":"%thread","logger":"%logger{36}","correlationId":"%X{correlationId:-}","userId":"%X{userId:-}","routingKey":"%X{routingKey:-}","message":"%replace(%msg){'&quot;','\\&quot;'}"}%n</pattern>
        </message>
    </appender>
    <logger name="com.team05.fooddelivery.user" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOKI"/>
    </logger>
    <root level="OFF"/>
</configuration>